# Database
APP_REPOSITORY_POSTGRES_ADDRESS=127.0.0.1:5432
APP_REPOSITORY_POSTGRES_USERNAME=postgres
APP_REPOSITORY_POSTGRES_PASSWORD=postgres
APP_REPOSITORY_POSTGRES_NAME=mydb

APP_REPOSITORY_REDIS_ADDRESS="localhost:6379"
APP_REPOSITORY_REDIS_PASSWORD=""
APP_REPOSITORY_REDIS_DB=0

# Web Server
APP_PROCESSOR_WEB_SERVER_LISTEN_PORT=8080

# Monitor
APP_MONITOR_LOG_LEVEL=debug
APP_MONITOR_ENVIRONMENT=development

# Kafka
APP_BROKER_KAFKA_ADDRESSES=kafka:9092
APP_BROKER_KAFKA_CONSUMER_GROUP=worker-service
APP_BROKER_KAFKA_CLIENT_ID=worker-service-1
APP_BROKER_KAFKA_MODEL_ORDER_CREATED_TOPIC=order.created
APP_BROKER_KAFKA_MODEL_ORDER_DELIVERY_CALCULATED_TOPIC=order.delivery.calculated
APP_BROKER_KAFKA_MODEL_ORDER_CREATED_CONSUMER_GROUP=



# Client - Fixer
APP_CLIENT_FIXER_API_KEY=your_api_key_here
APP_CLIENT_FIXER_BASE_URL=http://data.fixer.io/api
APP_CLIENT_FIXER_CACHE_TTL=30m
