# Бинарные файлы
bin/
*.exe
main
worker-service

# IDE
.idea/
.vscode/
*.swp
*.swo

# Временные файлы
*.tmp
*.log

# Зависимости
#vendor/

# Тестовые артефакты
coverage.out
coverage.html
cmd/test_currency/main.go

# Proto generated code
api/gen/

# Buf lock file
buf.lock

# macOS
.DS_Store

.env
